#Info
{
	box-shadow: 0 0.125em 0.75em rgba(0,0,0,0.6), 0 0.0625em 0.375em rgba(0,0,0,0.34);
}
	#Info > div
	{
		max-width: 1280px !important;
	}
@media (min-width: 1024px)
{
	#Info > div
	{
		font-size: 1.24em;
	}
	#Info h1
	{
		font-size: 2.4em;
	}
}

#Games {
	background-color: #1a1b1e;
}

#search
{
	display: flex;
	align-items: center;
	margin: 0 auto 2em;
	padding: 0.4em;
	width: 100%;
	max-width: 620px;
	background-color: rgba(255,255,255,0.08);
	color: #fff;
	font-family: 'Google Sans','Product Sans','Roboto',sans-serif;
	font-size: 1.4em;
	font-weight: 500;
	border-radius: 0.42em;
	box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,.32), 0 0.0625rem 0.375rem rgba(0,0,0,.18);
}
	#search::before
	{
		content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI0OHB4IiBoZWlnaHQ9IjQ4cHgiIGZpbGw9IndoaXRlIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xNS41IDE0aC0uNzlsLS4yOC0uMjdDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41IDE2IDUuOTEgMTMuMDkgMyA5LjUgM1MzIDUuOTEgMyA5LjUgNS45MSAxNiA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==");
		display: inline-block;
		margin-right: 0.4em;
		flex-basis: 48px;
		height: 48px;
		vertical-align: middle;
	}
	#search #searchBar
	{
		flex-basis: 100%;
		width: calc(100% - 48px - 0.4em);
		padding: 0.6em 0.8em;
		vertical-align: middle;
		border: none;
		border-radius: 0.26em;
		background-color: #1a1b1e;
		color: #fff;
		font-size: inherit;
		font-weight: 500;
		box-shadow: 0 0 0 2px rgba(255, 119, 61, 0), 0 0.125rem 0.75rem rgba(0,0,0,.32) inset, 0 0.0625rem 0.375rem rgba(0,0,0,.18) inset;
		transition: color 0.24s cubic-bezier(0.35,0,0.15,1), box-shadow 0.24s cubic-bezier(0.35,0,0.15,1);
	}
		#search #searchBar:focus
		{
			outline: none;
			box-shadow: 0 0 0 2px rgba(255, 119, 61, 1), 0 0.1em 0.15em rgba(0,0,0,0.2) inset, 0 0.04em 0.1em rgba(0,0,0,0.1) inset;
		}

#grid
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}
	#grid > a
	{
		margin: 0.2em 1vw 0;
		padding: 0 1vw 0.2em;
		border-radius: 0.4em;
		box-shadow: 0 0 0 2px rgba(255, 119, 61, 0);
		transition: color 0.24s cubic-bezier(0.35,0,0.15,1), box-shadow 0.24s cubic-bezier(0.35,0,0.15,1);
	}
		#grid > a:focus
		{
			outline: none;
			box-shadow: 0 0 0 2px rgba(255, 119, 61, 1);
		}
		#grid > a > figure,
		#grid > a > figure > img
		{
			margin: 0;
			padding: 0;
			max-width: 128px;
			height: auto;
		}
		#grid > a > figure
		{
			width: 128px;
			background-size: contain !important;
		}
			#grid > a > figure > img
			{
				width: 128px;
				height: 128px;
				transition: opacity 0.28s, filter 0.28s;
			}
		#grid > a:focus > figure > img,
		#grid > a:hover > figure > img
		{
			opacity: 0;
			filter: alpha(opacity=0);
		}

a:not(:hover):not(:focus) figcaption
{
	color: #fff;
}